<?xml version="1.0"?>
<auomatic_calibration>
	<path>
		<camera_inputs>../Content/camera_inputs</camera_inputs>
		<camera_model>../Content/camera_models</camera_model>
		<template>../Content/template</template>
	</path>
	<camera>
		<number>4</number>
		<camera1>
			<height>800</height>
			<width>1280</width>
			<sf>9</sf>
			<roi>80</roi>
			<contour_min_size>300</contour_min_size>
			<chessboard_num>3</chessboard_num>
		</camera1>
		<camera2>
			<height>800</height>
			<width>1280</width>
			<sf>7</sf>
			<roi>80</roi>
			<contour_min_size>300</contour_min_size>
			<chessboard_num>3</chessboard_num>
		</camera2>
		<camera3>
			<height>800</height>
			<width>1280</width>
			<sf>9</sf>
			<roi>80</roi>
			<contour_min_size>800</contour_min_size>
			<chessboard_num>3</chessboard_num>
		</camera3>
		<camera4>
			<height>800</height>
			<width>1280</width>
			<sf>7</sf>
			<roi>80</roi>
			<contour_min_size>300</contour_min_size>
			<chessboard_num>3</chessboard_num>
		</camera4>
	</camera>
	<display>
		<height>720</height>
		<width>1280</width>
		<show_debug_img>0</show_debug_img>
	</display>
	<grid>
		<angles>60</angles>
		<start_angle>4</start_angle>
		<nop_z>30</nop_z>
		<step_x>0.2</step_x>
		<radius>1.7</radius>
	</grid>
	<mask>
		<smooth_angle>0.2</smooth_angle>
	</mask>
	<car_model>
		<x_scale>0.5</x_scale>
		<y_scale>0.5</y_scale>
		<z_scale>0.5</z_scale>
	</car_model>
	<template>
		<temp_len_ex>900</temp_len_ex>
		<temp_len_in>300</temp_len_in>
		<temp_distance_t13>5000</temp_distance_t13>
		<temp_distance_t24>2200</temp_distance_t24>
	</template>
</auomatic_calibration>